doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='navbar fixed-top navbar-dark navbar-expand-lg' style="background-color:#212529")
      div(class='container-fluid')
        a(class='navbar-brand' href="/store") Lights-Out
        button(class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse' id='navbarSupportedContent')
          ul(class='navbar-nav me-auto mb-2 mg-lg-0')
            li(class='nav-item')
              a(class='nav-link active' aria-current="page" href="/store") Home
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Create
              ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                li
                  a(class="dropdown-item" href="/store/director/create") New Director
                li
                  a(class="dropdown-item" href="/store/writer/create") New Writer
                li
                  a(class="dropdown-item" href="/store/cast/create") New Cast
                li
                  a(class="dropdown-item" href="/store/genre/create") New Genre
                li
                  a(class="dropdown-item" href="/store/movie/create") New Movie 
                li
                  a(class="dropdown-item" href="/store/movieinstance/create") New Movie Instance
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Show
              ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                li
                  a(class="dropdown-item" href="/store/directors/") All Directors
                li
                  a(class="dropdown-item" href="/store/writers") All Writers
                li
                  a(class="dropdown-item" href="/store/casts") All Casts
                li
                  a(class="dropdown-item" href="/store/genres") All Genres 
                li
                  a(class="dropdown-item" href="/store/movies") All Movies 
                li
                  a(class="dropdown-item" href="/store/movieinstances") All Movie Instances           
    div(class='container-fluid content')
      block content
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
