extends layout

block content
  h1=title

  p Do you really want to delete this movieinstances?
    form(method='POST' action='')
      div.form-group
        input#movieinstancesid.form-control(type='hidden',name='movieinstancesid', required='true', value=movieinstance._id )

      button.btn.btn-primary(type='submit') Delete
